@import "bootstrap"; 


body 
{
  background: image_url('pink_dust.png');
}

h1
{
  color: white;
}

.container
{
  background:  white;
  padding-top:  35px;
  padding-bottom: 35px;
  padding-right: auto;
  padding-left: auto;
  margin-top: 55px;
  text-align: center;
}


.headline
{
  color: #000080;
}